header {
  background-color: #0f1626;
}

.home-container {
  background-color: #0f1626;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative; /* Important */
  width: 100% important!; /* Any width */
  height: 100vh; /* Any height */
}

.home-center {
  position: absolute; /* Important */
  top: 70%; /* Position Y halfway in */
  left: 55%; /* Position X halfway in */
  transform: translate(-50%, -50%); /* Move it halfway back(x,y) */
  width: 80%; /* Any width */
  height: 50%; /* Any height */
  background: transparent;
  font-weight: normal;
  font-size: 80px;
  color: #ab987a;
  padding: 0;
  margin: 0;
}

.intro-name {
  color: #ff533d;
  font-size: 100px;
  font-weight: bolder;
}

.intro-welcome {
  color: #827f78;
  font-size: 50px;
  font-weight: lighter;
}

.footer-icons a {
  padding: 3px;
  color: #0f1626;
}

.footer-icons a:hover {
  padding: 3px;
  color: #ff533d;
}

.footer {
  background-color: #f5f5f5;
}

.navbar {
  background-color: #f5f5f5;
}

.about-tools span {
  color: #827f78;
}
